/* Color
/* ------------------------------------------- */
$blue: #48B7C7;
$red: #FF6559;
$green: #4DDD66;
$orange: #FFA959;
$yellow: #FFCB59;
$dark-grey: #464F54;
$mid-grey: #A2ADBD;
$light-grey: #F0F3F7;
$white: #fff;

$font-family: "Fira Sans", sans-serif;
$font-family-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$body-bg: $white;

$border-radius: 4px;
